{% extends 'EventHorizonThemeBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}statistics{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('statistics_index') }}">{% trans %}statistics{% endtrans %}</a></li>
{% endblock %}

{% block content -%}
    <div class="panel panel-default">
        <div class="panel-body">
            <h4 style="display: inline;">{% trans %}statistics{% endtrans %}</h4>
            <hr />

            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#">{% trans %}statistics{% endtrans %}</a></li>
                <li><a href="{{ path('statistics_notes_per_computer') }}">{% trans %}notes_per_computer{% endtrans %}</a></li>
            </ul>

            <div class="clearfix"></div>
            <br />
            <form action="{{ path('statistics_index') }}" class="form-inline" method="get" role="form">
                <div class="form-group">
                    <label for="date_start">{% trans %}from{% endtrans %}:</label>
                    <input class="form-control datepicker" id="date_start" name="date_start" type="text" value="{{ dateStart|date('Y-m-d') }}">
                </div>
                <div class="form-group">
                    <label for="date_end">{% trans %}to{% endtrans %}:</label>
                    <input class="form-control datepicker" id="date_end" name="date_end" type="text" value="{{ dateEnd|date('Y-m-d') }}">
                </div>
                <button class="btn btn-default" title="{% trans %}search{% endtrans %}" type="submit"><span class="glyphicon glyphicon-search"></span> {% trans %}search{% endtrans %}</button>
            </form>
            <div class="clearfix"></div>
            <br />

            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3">{% trans %}computers_number{% endtrans %}</td>
                            <td>{{ computersCount }}</td>
                        </tr>
                        <tr>
                            <td>{% trans %}notes_number{% endtrans %}</td>
                            <td>{{ notesCount }}</td>
                        </tr>
                        <tr>
                            <td>{% trans %}reports_number{% endtrans %}</td>
                            <td>{{ reportsCount }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
