{% extends 'EventHorizonThemeBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}statistics{% endtrans %} - {% trans %}notes_per_computer{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('statistics_index') }}">{% trans %}statistics{% endtrans %}</a></li>
    <li><a href="{{ path('statistics_index') }}">{% trans %}notes_per_computer{% endtrans %}</a></li>
{% endblock %}

{% block content -%}
    <div class="panel panel-default">
        <div class="panel-body">
            <h4 style="display: inline;">{% trans %}notes_per_computer{% endtrans %}</h4>
            <hr />

            <ul class="nav nav-tabs" role="tablist">
                <li><a href="{{ path('statistics_index') }}">{% trans %}statistics{% endtrans %}</a></li>
                <li class="active"><a href="#">{% trans %}notes_per_computer{% endtrans %}</a></li>
            </ul>

            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3">{% trans %}computer_name{% endtrans %}</td>
                            <td class="text-center">{% trans %}notes_count{% endtrans %}</td>
                            <td class="col-lg-7 col-md-7 col-sm-7 col-xs-7"></td>
                        </tr>
                        {% for computer in computers %}
                            <tr>
                                {% set width = ((computer.noteCounter / highestNotesCount) * 100) %}
                                {% if (width < 25) %}
                                    {% set progressbarclass = "progress-bar-success" %}
                                    {% set labelclass = "label-success" %}
                                {% elseif (width > 25) and (width <= 50) %}
                                    {% set progressbarclass = "progress-bar-info" %}
                                    {% set labelclass = "label-info" %}
                                {% elseif (width > 50) and (width <= 75) %}
                                    {% set progressbarclass = "progress-bar-warning" %}
                                    {% set labelclass = "label-warning" %}
                                {% elseif (width > 75) %}
                                    {% set progressbarclass = "progress-bar-danger" %}
                                    {% set labelclass = "label-danger" %}
                                {% endif %}
                                <td><a href="{{ path('note_show_summary', { 'computerId': computer.id }) }}" title="{% trans %}note_show_summary{% endtrans %}">{{ computer.name }}</a></td>
                                <td class="text-center">
                                    <span class="label {{ labelclass }}">{{ computer.noteCounter }}</span>
                                </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar {{ progressbarclass }}" style="width: {{ width }}%"></div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
