{% extends 'EventHorizonThemeBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}computer_list{% endtrans %} - {% trans %}computer_edit{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('computer_index') }}">{% trans %}computer_list{% endtrans %}</a></li>
    <li><a href="{{ path('computer_edit', { 'id': computer.id }) }}">{% trans %}computer_edit{% endtrans %}</a></li>
{% endblock %}

{% block content -%}
    {% include 'EventHorizonThemeBundle:Computer:form.html.twig' with { 'display_mode': 'edit' } %}
{% endblock %}
