<div class="panel panel-default">
    <div class="panel-body">
        {% if display_mode == 'new' %}
            <form action="{{ path('computer_create') }}" class="form-horizontal" method="post" role="form" {{ form_enctype(form) }}>
                <input type="hidden" name="_method" value="post" />
        {% elseif display_mode == 'edit' %}
            <form action="{{ path('computer_update', { 'id': computer.id }) }}" class="form-horizontal" method="post" role="form" {{ form_enctype(form) }}>
                <input type="hidden" name="_method" value="put" />
        {% endif %}
            {{ form_errors(form) }}

        {% if display_mode == 'new' %}
            <h4>{% trans %}computer_new{% endtrans %}</h4>
        {% elseif display_mode == 'edit' %}
            <h4>{% trans %}computer_edit{% endtrans %}</h4>
        {% endif %}
            <hr />

            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#basic_settings" role="tab" data-toggle="tab">{% trans %}basic_settings{% endtrans %}</a></li>
                <li><a href="#advanced_settings" role="tab" data-toggle="tab">{% trans %}advanced_settings{% endtrans %}</a></li>
            </ul>
            <br />
            <div class="tab-content">
                <div class="tab-pane active" id="basic_settings">
                    <div class="form-group">
                        {{ form_label(form.name, 'computer_name', { 'label_attr': { 'class': 'col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label' }}) }}
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name, { 'attr': { 'class': 'form-control', 'placeholder': 'computer_name' } }) }}
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <h4><span class="glyphicon glyphicon-question-sign" data-container="body" data-content="{% trans %}computer_form_name{% endtrans %}" data-toggle="popover" data-placement="right" rel="popover"></span></h4>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.key, 'key', { 'label_attr': { 'class': 'col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label' }}) }}
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            {{ form_errors(form.key) }}
                            {{ form_widget(form.key, { 'attr': {'class': 'form-control', 'placeholder': 'key'} }) }}
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <h4><span class="glyphicon glyphicon-question-sign" data-container="body" data-content="{% trans %}computer_form_key{% endtrans %}" data-toggle="popover" data-placement="right" rel="popover"></span></h4>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.description, 'description', { 'label_attr': { 'class': 'col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label' }}) }}
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            {{ form_errors(form.description) }}
                            {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'placeholder': 'description'} }) }}
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <h4><span class="glyphicon glyphicon-question-sign" data-container="body" data-content="{% trans %}computer_form_description{% endtrans %}" data-toggle="popover" data-placement="right" rel="popover"></span></h4>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.group, 'group', { 'label_attr': { 'class': 'col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label' }}) }}
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            {{ form_errors(form.group) }}
                            {{ form_widget(form.group, { 'attr': {'class': 'form-control', 'placeholder': 'group'} }) }}
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <h4><span class="glyphicon glyphicon-question-sign" data-container="body" data-content="{% trans %}computer_form_group{% endtrans %}" data-toggle="popover" data-placement="right" rel="popover"></span></h4>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="advanced_settings">
                    <div class="form-group">
                        {{ form_label(form.overwriteClientConfiguration, 'overwrite_client_configuration', { 'label_attr': { 'class': 'col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label' }}) }}
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            {{ form_errors(form.overwriteClientConfiguration) }}
                            {{ form_widget(form.overwriteClientConfiguration, { 'attr': {'class': 'form-control', 'placeholder': 'overwrite_client_configuration'} }) }}
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <h4><span class="glyphicon glyphicon-question-sign" data-container="body" data-content="{% trans %}computer_form_overwrite_client_configuration{% endtrans %}" data-toggle="popover" data-placement="right" rel="popover"></span></h4>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.clientDelay, 'client_delay', { 'label_attr': { 'class': 'col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label' }}) }}
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            {{ form_errors(form.clientDelay) }}
                            {{ form_widget(form.clientDelay, { 'attr': {'class': 'form-control', 'placeholder': 'client_delay'} }) }}
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <h4><span class="glyphicon glyphicon-question-sign" data-container="body" data-content="{% trans %}computer_form_client_delay{% endtrans %}" data-toggle="popover" data-placement="right" rel="popover"></span></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9 col-sm-offset-3 col-sm-9 col-xs-offset-3 col-xs-9">
                    <button class="btn btn-primary" type="submit" title="{% trans %}save{% endtrans %}"><span class="glyphicon glyphicon-ok"></span> {% trans %}save{% endtrans %}</button>
                    <a class="btn btn-info" href="{{ path('computer_index') }}" title="{% trans %}return{% endtrans %}"><span class="glyphicon glyphicon-arrow-left"></span> {% trans %}return{% endtrans %}</a>
                </div>
            </div>

            {{ form_rest(form) }}
        </form>
    </div>
</div>
