{% extends 'EventHorizonThemeBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}computer_list{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('computer_index') }}">{% trans %}computer_list{% endtrans %}</a></li>
{% endblock %}

{% block content -%}
    <div class="panel panel-default">
        <div class="panel-body">
            <h4 style="display: inline;">{% trans %}computer_list{% endtrans %}</h4>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-info pull-right" href="{{ path('computer_print') }}" style="margin-left: 5px;" title="{% trans %}computer_print_version{% endtrans %}"><span class="glyphicon glyphicon-print"></span> {% trans %}computer_print_version{% endtrans %}</a>
                <a class="btn btn-primary pull-right" href="{{ path('computer_new') }}" title="{% trans %}computer_new{% endtrans %}"><span class="glyphicon glyphicon-plus"></span> {% trans %}computer_new{% endtrans %}</a>
            {% endif %}
            <hr />

            <form action="{{ path('computer_index') }}" class="form-inline" method="get" role="form">
                <div class="form-group">
                    <input autocomplete="off" class="col-lg-8 form-control" id="query" name="query" placeholder="{% trans %}search{% endtrans %}" value="{{ query }}" type="text">
                </div>

                <div class="form-group">
                    <label for="group_id">{% trans %}group{% endtrans %}:</label>
                    <select class="form-control" id="group_id" name="group_id">
                        <option value=""></option>
                        {% for group in groups %}
                            <option value="{{ group.id }}" {% if (group.id == groupId) %}selected{% endif %}>{{ group.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button class="btn btn-default" title="{% trans %}search{% endtrans %}" type="submit"><span class="glyphicon glyphicon-search"></span> {% trans %}search{% endtrans %}</button>
            </form>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, 'computer_id'|trans, 'id') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'name'|trans, 'name') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'key'|trans, 'key') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'description'|trans, 'description') }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for computer in pagination %}
                            <tr>
                                <td>{{ computer.id }}</td>
                                <td>{{ computer.name }}</td>
                                <td>{{ computer.key }}</td>
                                <td>{{ computer.description }}</td>
                                <td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <div class="btn-group pull-right" style="margin-left: 5px;">
                                            <a class="btn btn-success" href="{{ path('computer_edit', { 'id': computer.id }) }}" title="{% trans %}edit{% endtrans %}"><span class="glyphicon glyphicon-edit"></span> <span class="hidden-sm hidden-xs">{% trans %}edit{% endtrans %}</span></a>
                                            <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="{{ path('computer_edit', { 'id': computer.id }) }}" title="{% trans %}edit{% endtrans %}"><span class="glyphicon glyphicon-edit"></span> {% trans %}edit{% endtrans %}</a></li>
                                                <li><a class="confirm_delete" data-confirm-cancel="{% trans %}cancel{% endtrans %}" data-confirm-direction="ltr" data-confirm-message="{% trans %}are_you_sure_you_want_to_delete{% endtrans %}" data-confirm-ok="{% trans %}yes{% endtrans %}" data-confirm-title="{% trans %}confirmation{% endtrans %}" href="{{ path('computer_delete', { 'id': computer.id }) }}" title="{% trans %}delete{% endtrans %}"><span class="glyphicon glyphicon-trash"></span> {% trans %}delete{% endtrans %}</a></li>
                                            </ul>
                                        </div>
                                    {% endif %}
                                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_OBSERVER') %}
                                        <a class="btn btn-info pull-right" href="{{ path('note_show_summary', { 'computerId': computer.id }) }}" style="margin-left: 5px;" title="{% trans %}note_show_summary{% endtrans %}"><span class="glyphicon glyphicon-list-alt"></span> <span class="hidden-sm hidden-xs">{% trans %}notes_summary{% endtrans %}</span></a>
                                        <a class="btn btn-danger pull-right" href="{{ path('report_show_live_view', { 'computerId': computer.id }) }}" style="margin-left: 5px;" title="{% trans %}live_view{% endtrans %}"><span class="glyphicon glyphicon-search"></span> <span class="hidden-sm hidden-xs">{% trans %}live_view{% endtrans %}</span></a>
                                        <a class="btn btn-warning pull-right" href="{{ path('report_show', { 'computerId': computer.id }) }}" style="margin-left: 5px;" title="{% trans %}reports_show{% endtrans %}"><span class="glyphicon glyphicon-eye-open"></span> <span class="hidden-sm hidden-xs">{% trans %}reports{% endtrans %}</span></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <h3>{% trans %}computers_no_found{% endtrans %}</h3>
                        {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
