{% extends 'EventHorizonThemeBundle::base.html.twig' %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{% trans %}computer_id{% endtrans %}</th>
                            <th>{% trans %}name{% endtrans %}</th>
                            <th>{% trans %}key{% endtrans %}</th>
                            <th>{% trans %}description{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for computer in computers %}
                            <tr>
                                <td>{{ computer.id }}</td>
                                <td>{{ computer.name }}</td>
                                <td>{{ computer.key }}</td>
                                <td>{{ computer.description }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
