<h1 id="wersja-v1.1">Wersja v1.1</h1>
<p>Aplikacja klienta: - obsługa API v1.1</p>
<p>Aplikacja serwerowa:</p>
<ul>
<li>API v1.1</li>
<li>nadpisywanie konfiguracji klienta</li>
<li>zaktualizowano biblioteki frameworka</li>
<li>udoskonalono interfejs użytkownika</li>
<li>usprawnienia w działaniu aplikacji</li>
</ul>
<h1 id="wersja-v1.0.5">Wersja v1.0.5</h1>
<p>Aplikacja serwerowa:</p>
<ul>
<li>udoskonalono skrypt instalacyjny</li>
<li>udoskonalono skrypt do aktualizacji kodu</li>
<li>zaktualizowano biblioteki frameworka</li>
<li>udoskonalono interfejs użytkownika</li>
<li>usprawnienia w działaniu aplikacji</li>
</ul>
<h1 id="wersja-v1.0.4">Wersja v1.0.4</h1>
<p>Aplikacja serwerowa:</p>
<ul>
<li>udoskonalono skrypt instalacyjny</li>
<li>dodano skrypt instalacyjny referencyjnego serwera RHEL7</li>
<li>zaktualizowano biblioteki frameworka</li>
<li>udoskonalono interfejs użytkownika</li>
<li>usprawnienia w działaniu aplikacji</li>
</ul>
<h1 id="wersja-v1.0.3">Wersja v1.0.3</h1>
<p>Aplikacja serwerowa:</p>
<ul>
<li>tryb &quot;Na żywo&quot;</li>
<li>udoskonalono cacheowanie obrazków z raportów</li>
<li>zaktualizowano biblioteki frameworka</li>
<li>udoskonalono dokumentację</li>
<li>udoskonalono interfejs użytkownika</li>
<li>usprawnienia w działaniu aplikacji</li>
</ul>
<h1 id="wersja-v1.0.2">Wersja v1.0.2</h1>
<p>Aplikacja klienta:</p>
<ul>
<li>dodano informację o wersji klienta i API</li>
</ul>
<p>Aplikacja serwerowa:</p>
<ul>
<li>dodano statystykę informującą o ilości ostrzeżeń na komputer</li>
<li>dodano parametr umożliwiający dostosowanie opóźnienia przed usunięciem raportu dla którego nie utworzono notatki</li>
<li>udoskonalono dokumentację</li>
<li>zaktualizowano biblioteki frameworka</li>
<li>udoskonalono API do komunikacji z aplikacją klienta</li>
<li>usprawnienia w działaniu aplikacji</li>
</ul>
<h1 id="wersja-v1.0.1">Wersja v1.0.1</h1>
<p>Aplikacja klienta:</p>
<ul>
<li>poprawiono komunikat o błędzie w razie nieznalezienia screenshot-cmd.exe</li>
</ul>
<p>Aplikacja serwerowa:</p>
<ul>
<li>dodatkowe możliwości sortowania list grup, komputerów, notatek i użytkowników</li>
<li>udoskonalono dokumentację</li>
<li>udoskonalono interfejs użytkownika</li>
<li>zaktualizowano biblioteki frameworka</li>
<li>usprawnienia w działaniu aplikacji</li>
</ul>
<p>Referencyjny system serwerowy:</p>
<ul>
<li>synchronizacja czasu z zegarem atomowym przez ntpdate</li>
</ul>
