<h1 id="p-czy-dane-są-bezpieczne">P: Czy dane są bezpieczne?</h1>
<p>O: System WorkWatcher działa w architekturze klient-serwer. Oprogramowanie klienckie oraz serwerowe jest instalowane na komputerach firmy, która kupiła licencję. Żadne dane nie są wysyłane na zewnątrz. Oprogramowanie jest dostarczane razem z kodem źródłowym, więc każdy może sprawdzić jego działanie.</p>
<h1 id="p-czy-można-użyć-systemu-do-monitorowania-ludzi-pracujących-zdalnie">P: Czy można użyć systemu do monitorowania ludzi pracujących zdalnie?</h1>
<p>O: WorkWatcher może być używany do monitorowania pracowników zdalnych. Jednak takie monitorowanie musi być oparte o bezpieczne połączenia <a href="http://pl.wikipedia.org/wiki/Virtual_Private_Network">http://pl.wikipedia.org/wiki/Virtual_Private_Network</a> .</p>
<h1 id="p-co-się-dzieje-w-czasie-awarii-sieci">P: Co się dzieje w czasie awarii sieci?</h1>
<p>O: Jeśli nastąpi tymczasowa awaria sieci i aplikacja klienta nie może się skomunikować z aplikacją pracującą na serwerze, to raport zostanie zbuforowany. Przy następnej próbie wysłania raportu stary raport zostanie wysłany razem z nowym.</p>
