<p>WorkWatcher jest systemem służącym do nadzorowania i śledzenia postępów pracy pracowników firmy. Jest narzędziem, które pomaga w ocenie wydajności i wartości pracy poszczególnych pracowników.</p>
<p>System ułatwia kontrolowanie pracowników. Przy regularnym sprawdzaniu raportów po pewnym czasie można zweryfikować:</p>
<ul>
<li>czy pracownik przykłada się do pracy</li>
<li>czy cały dostępny czas poświęca na pracę</li>
<li>czy w czasie pracy nie zajmuje się wykonywaniem innych działań z nią nie związanych</li>
</ul>
<p>System składa się z dwóch części - <strong>aplikacji klienta</strong> oraz <strong>aplikacji serwerowej</strong>.</p>
<p><strong>Aplikacja klienta</strong> jest instalowana na komputerach, które mają podlegać nadzorowaniu. Program wysyła na serwer zrzut ekranu co określoną w konfiguracji ilość sekund.</p>
<p><strong>Aplikacja serwerowa</strong> pracuje na centralnym serwerze, gdzie aplikacje klienckie wysyłają dane. Ta aplikacja udostępnia interfejs użytkownika w którym można przeprowadzić analizę nadesłanych danych.</p>
<h1 id="opis-aplikacji-serwerowej">Opis aplikacji serwerowej</h1>
<p>W referencyjnym systemie wirtualnym hasło użytkownika &quot;root&quot; to &quot;workwatcher&quot;. Zaleca się zmianę tego hasła za pomocą komendy passwd po zalogowaniu się do systemu przez ssh.</p>
<h2 id="logowanie">Logowanie</h2>
<p>Do aplikacji serwerowej można się zalogować klikając link &quot;<strong>Logowanie</strong>&quot; w prawym górnym rogu okna. Następnie należy podać nazwę użytkownika i hasło. Z aplikacji serwerowej mogą korzystać dwa typy użytkowników:</p>
<p>- <strong>administratorzy</strong> - ten typ użytkowników ma najbardziej rozległe uprawnienia i ma dostęp do wszystkich elementów systemu</p>
<p>- <strong>obserwatorzy</strong> - ten typ użytkowników ma uprawnienia potrzebne do przeglądania raportów i tworzenia notatek</p>
<p>Do normalnego korzystania z aplikacji serwerowej zaleca się używanie konta obserwatora. Standardowo w systemie po instalacji są dostępne dwa konta</p>
<pre><code>użytkownik      hasło
-------------   -------------
admin           admin
observer        observer</code></pre>
<p>Po instalacji systemu zaleca się zmianę standardowych haseł.</p>
<h2 id="zarządzanie-użytkownikami">Zarządzanie użytkownikami</h2>
<p>Użytkownicy o uprawnieniach administratora mają dostęp do listy użytkowników systemu dostępnej w menu &quot;Konto&quot;. Znajduje się ono w prawym górnym rogu serwisu, po kliknięciu którego należy wybrać &quot;Zarządzanie użytkownikami&quot;.</p>
<p>Istnieje możliwość dodawania nowych kont użytkowników oraz edycji istniejacych.</p>
<p>Przy tworzeniu konta poza standardowymi danymi, takimi jak: <strong>nazwa użytkownika</strong>, <strong>e-mail</strong> i <strong>hasło</strong> należy też wybrać <strong>uprawnienia</strong> oraz <strong>grupy</strong>.</p>
<p><strong>Uprawnienia</strong> określają do jakich funkcji ma dostęp konkretny użytkownik. Administrator ma kontrolę nad całym systemem. Obserwator może przeglądać raporty i sporządzać notatki.</p>
<p><strong>Grupy</strong> określają do których grup w systemie należy użytkownik. Przydział do konkretnych grup ma znaczenie dla użytkowników z uprawnieniem obserwatora, ponieważ od tego zależy jakie komputery będą oni widzieli na liście komputerów.</p>
<h2 id="zarządzanie-grupami">Zarządzanie grupami</h2>
<p>Użytkownicy o uprawnieniach administratora mają dostęp do listy grup systemu dostępnej w menu &quot;Konto&quot;. Znajduje się ono w prawym górnym rogu serwisu, po kliknięciu którego należy wybrać &quot;Zarządzanie grupami&quot;.</p>
<p>Istnieje możliwość dodawania nowych grup do systemu oraz edycji istniejących.</p>
<p>Przy tworzeniu grupy musimy podać jej nazwę. Ta nazwa będzie widoczna w dwóch miejscach:</p>
<p>- przy tworzeniu lub edycji konta użytkownika istnieje możliwość przypisania użytkownika do utworzonej grupy</p>
<p>- przy dodawaniu do systemu komputera lub edycji jego ustawień należy przypisać go do jakiejś grupy</p>
<h2 id="lista-komputerów">Lista komputerów</h2>
<p>Lista komputerów zawiera wszystkie komputery działające w systemie. Dzięki tej liście możemy wyświetlić <strong>raporty</strong> oraz <strong>zestawienie notatek</strong> dla danego komputera.</p>
<p>Użytkownik o uprawnieniach obserwatora widzi na liście komputerów tylko te komputery, które są przypisane do grup do których należy użytkownik. Czyli na przykład w systemie może być zarejestrowanych dwóch obserwatorów - pierwszy przypisany do grupy &quot;dział produkcji&quot; a drugi przypisany do grupy &quot;dział administracji&quot;. Pierwszy na liście komputerów będzie widział tylko te przypisane do działu produkcji a drugi obserwator będzie widział tylko te przypisane do działu administracji. Użytkownik może być przypisany do dowolnej ilości grup.</p>
<p>Użytkownik o uprawnieniach administratora ma dodatkowe możliwości:</p>
<ul>
<li>widzi na liście wszystkie komputery zarejestrowane w systemie</li>
<li>może dodawać <strong>nowe komputery</strong></li>
<li>może edytować ustawienia komputera</li>
<li>może usuwać komputery z systemu</li>
<li>ma dostęp do pełnej listy komputerów na której są wyświetlane ID i klucze</li>
</ul>
<h2 id="dodawanie-nowego-komputera-do-systemu-i-edycja-ustawień-istniejącej-maszyny">Dodawanie nowego komputera do systemu i edycja ustawień istniejącej maszyny</h2>
<p>Aby dodać nowy komputer do systemu trzeba zalogować się na konto o uprawnieniach administratora i następie na liście komputerów kliknąć link &quot;Nowy komputer&quot; znajdujący się w prawym górnym rogu listy.</p>
<p>W formie dodawania komputera w zakładce &quot;Ustawienia podstawowe&quot; musimy podać cztery informacje.</p>
<p><strong>Nazwa komputera</strong> ma znaczenie dla operatorów systemu - ułatwia identyfikację maszyny. Dobrą nazwą maszyny może być np. &quot;Piętro 1/pokój 2/ komputer 4 - na którym najczęściej pracuje pani Gosia&quot;.</p>
<p><strong>Klucz</strong> jest używany przy wysyłaniu raportów z konkretnego komputera. Jest czymś w rodzaju hasła dla danego komputera. Standardowo klucz jest losowo generowany i można go zmienić według własnego uznania. Klucz powinien się składać wyłącznie z liter i cyfr.</p>
<p><strong>Opis komputera</strong> ma znaczenie dla operatorów systemu. W tym polu można podać dodatkowe informacje na temat lokalizacji komputera oraz godzin pracy konkretnych osób np. &quot;Na tym komputerze od godziny 8:00 do 12:00 pracuje pani Ala z działu produkcji. Od godziny 12:00 do 16:00 pracuje pan Piotrek z marketingu - on może korzystać z serwisów społecznościowych.&quot;</p>
<p><strong>Grupa</strong> do której jest przypisany komputer. W liście komputerów, które widzą użytkownicy z uprawnieniem obserwatora są wyświetlane tylko komputery powiązane z grupami do których należy obserwator.</p>
<p>Dodatkowo w zakładce &quot;Ustawienia zaawansowane&quot; możemy zmienić ustawienia aplikacji klienta.</p>
<p><strong>Nadpisywanie konfiguracji klienta</strong> jest parametrem, który określa czy aplikacja klienta ma pobierać parametry konfiguracyjne z serwera. Standardowo aplikacja klienta korzysta z ustawień zapisanych w pliku <strong>ww.ini</strong>, jednak może dojść do sytuacji, że administrator systemu będzie chciał poddać danego użytkownika bardziej szczegółowej obserwacji. W wersji 1.0.x trzeba było wprowadzać zmiany w pliku konfiguracyjnym aplikacji klienta na monitorowanym komputerze. Od wersji 1.1.x aplikacja klienta potrafi pobrać nowe wartości parametrów z konfiguracji zapisanej na serwerze.</p>
<p><strong>Wysyłanie raportów co</strong> jest parametrem, który jest używany do nadpisywania wartości parametru <strong>delay</strong> w konfiguracji aplikacji klienta. Ten parametr mówi aplikacji klienta co ile sekund ma wysyłać raport. Jeśli ktoś chce bliżej przyjrzeć się pracy monitorowanego pracownika, wystarczy zmniejszyć wartość tego parametru do np. 15 sekund i przejść do trybu &quot;Na żywo&quot;.</p>
<p>W czasie edycji ustawień komputera można zmienić powyższe dane.</p>
<h3 id="usuwanie-komputerów">Usuwanie komputerów</h3>
<p>Administrator ma możliwość usuwania komputerów z systemu.</p>
<h3 id="lista-komputerów-do-wydruku">Lista komputerów do wydruku</h3>
<p>Na liście komputerów do wydruku można znaleźć wszystkie informacje związane z komputerami w systemie. Ta lista została stworzona aby ułatwić konfigurowanie <strong>aplikacji klienta</strong> na komputerach. Można zapisać tę listę w pliku lub wysłać mailem i następnie kopiować ID komputera oraz klucz do pliku konfiguracyjnego konkretnego klienta.</p>
<h2 id="raporty">Raporty</h2>
<p>Aplikacja klienta działająca na komputerach w systemie wysyła <strong>raport</strong> co zadany czas. Raport składa się z kilku informacji:</p>
<ul>
<li>zrzut ekranu z komputera klienta</li>
<li>data wykonania zrzutu ekranu (z komputera klienta)</li>
<li>czas wykonania zrzutu ekranu (z komputera klienta)</li>
<li>adres ip komputera z którego został wysłany raport</li>
<li>nazwa hosta</li>
<li>nazwa użytkownika zalogowanego w systemie klienta</li>
</ul>
<p>Aby wyświetlić raporty dla danego komputera należy przejść do listy komputerów i kliknąć &quot;<strong>Raporty</strong>&quot; przy wybranym komputerze. Domyślnie są wyświetlane tylko raporty wysłane w dniu dzisiejszym. Aby wyświetlić raporty wcześniejsze lub za wybrany okres należy ustawić odpowiednie daty w polach wyszukiwania &quot;Od&quot; i &quot;Do&quot; i kliknąć &quot;Szukaj&quot;. W zależności od konfiguracji systemu okresowo są usuwane stare raporty do których nie utworzono żadnych notatek.</p>
<p>Po kliknięciu na zrzut ekranu, obrazek zostanie wyświetlony w nowym oknie - dzięki temu jest możliwość zobaczenia zrzutu w pełnej rozdzielczości.</p>
<p>Po prawej stronie przy każdym zrzucie ekranu są wyświetlane dodatkowe informacje wchodzące w skład raportu.</p>
<p>Pod tymi informacjami jest wyświetlany link &quot;Nowa notatka&quot; lub tabelka w której jest wyświetlana notatka wraz z linkiem służącym do jej edycji.</p>
<h3 id="dodawanie-nowej-notatki">Dodawanie nowej notatki</h3>
<p>Notatki są sposobem oceniania raportów nadsyłanych z komputera pracownika. Jeśli nadsyłane zrzuty ekranu dokumentują normalną pracę jaką ma wykonywać dana osoba nie ma potrzeby dodawania żadnych notatek. Notatki należy dodawać tylko do raportów w których zauważone zostały działania, których dana osoba nie powinna podejmować - np. surfowanie po internecie, korzystanie z serwisów społecznościowych lub programów (np. gier), których dany pracownik nie powinien używać.</p>
<p>Aby dodać nową notatkę do raportu należy kliknąć link &quot;Nowa notatka&quot;. Pojawi się wtedy forma dodawania notatki, gdzie będziemy mogli podać jej <strong>tytuł</strong> i <strong>treść</strong>. Po kliknięciu &quot;Zapisz&quot; okno zostanie zamknięte a nowa notatka pojawi się obok zrzutu ekranu raportu. W każdej chwili można edytować każdą notatkę dodając do niej kolejne informacje.</p>
<h2 id="zestawienie-notatek">Zestawienie notatek</h2>
<p>W zestawieniu notatek są wyświetlane wszystkie notatki, które zostały dodane do raportów dla konkretnego komputera.</p>
<p>Aby zobaczyć zestawienie notatek należy wejść do listy komputerów i kliknąć &quot;Zestawienie notatek&quot; dla konkretnego komputera. Domyślnie są wyświetlane notatki za okres ostatniego miesiąca. Można zmienić zakres dat i kliknąć &quot;Szukaj&quot; - wtedy zostaną wyświetlone notatki utworzone w zadanym okresie.</p>
<p>Każdą notatkę można edytować lub usunąć.</p>
<p>Po kliknięciu &quot;Pokaż notatkę&quot; zostanie wyświetlona pełna treść notatki wraz z danymi z raportu oraz ważnymi informacjami o komputerze dla którego raport został wysłany.</p>
<h2 id="na-żywo">Na żywo</h2>
<p>Tryb &quot;Na żywo&quot; służy do obserwowania najnowszych zrzutów ekranu wysyłanych przez aplikację klienta dla danego komputera. Jego funkcjonowanie zależy od tego jak często aplikacja klienta wysyła raporty. Można go wykorzystać do obserwowania działań pracownika w trybie prawie rzeczywistym. Aby osiągnąć taki efekt należy zmniejszyć czas opóźnienia w aplikacji klienta. Im mniejszy czas opóźnienia, tym częściej aplikacja klienta będzie wysyłać raporty. Od wersji 1.1.x istnieje możliwość szybkiej zmiany czasu opóźnienia dla aplikacji monitorującej dany komputer w ustawieniach danego komputera po stronie aplikacji serwerowej.</p>
<p>Efektem ubocznym jest duży wzrost liczby raportów od obserwowanego użytkownika. Z trybu najlepiej jest korzystać w porozumieniu z administratorem, który na czas obserwacji zmniejszy dla danej aplikacji czas opóźnienia a później przywróci jego domyślną wartość.</p>
<p>Aby przejść w omawiany tryb należy wejść do listy komputerów i kliknąć &quot;Na żywo&quot; dla konkretnego komputera.</p>
<p>Tryb &quot;Na żywo&quot; odświeża zrzut ekranu z ostatniego raportu co 10 sekund, więc nie ma sensu ustawianie mniejszego opóźnienia w aplikacji klienta.</p>
<h2 id="lista-moich-notatek">Lista moich notatek</h2>
<p>Na liście moich notatek użytkownik o uprawnieniach obserwatora zobaczy wszystkie istniejące w systemie notatki jakie utworzył. Użytkownik o uprawnieniach administratora widzi na tej liście wszystkie notatki znajdujące się w systemie.</p>
<p>Jest możliwość wyszukiwania notatek po słowach i zwrotach zawartych w tytule lub treści lub wyszukania notatek dla konkretnego komputera.</p>
<p>Dla każdej notatki istnieje możliwość edycji, usuwania i pokazywania pełnej treści wraz z dodatkowymi danymi.</p>
<h1 id="opis-aplikacji-klienta">Opis aplikacji klienta</h1>
<p>Aplikacja klienta jest instalowana w katalogu &quot;Program Files (x86)\WorkWatcherClient&quot; na 64-bitowych systemach lub &quot;Program Files\WorkWatcherClient&quot; na 32-bitowych systemach.</p>
<p>W czasie instalacji aplikacja zostaje dodana do rejestru aby była uruchamiana w trakcie startu systemu. Po zainstalowaniu aplikacji klienta należy przeprowadzić jej konfigurację a następnie ponownie uruchomić system.</p>
<p>Aby wyłączyć lub włączyć uruchamianie aplikacji klienta w czasie startu systemu należy uruchomić program msconfig i następnie w zakładce &quot;Uruchamianie&quot; odznaczyć lub zaznaczyć &quot;WorkWatcherClient&quot;.</p>
<p>Aplikacja klienta jest uruchamiana po wykonaniu pliku <strong>ww.exe</strong>. Konfiguracja jest wczytywana z pliku <strong>ww.ini</strong>.</p>
<p>Plik konfiguracyjny <strong>ww.ini</strong> może wyglądać następująco:</p>
<pre><code>[client]
delay=&quot;600&quot;
id=&quot;535d615cc1049c842f8b45d0&quot;
key=&quot;91d1975ebcd98581c1b1d4f97078e9c5&quot;
reporting_starts_at=&quot;8:00&quot;
reporting_ends_at=&quot;16:00&quot;
[server]
host=&quot;http://192.168.56.101&quot;</code></pre>
<h2 id="sekcja-server-określa-konfigurację-serwera-centralnego-na-którym-zbierane-są-dane">Sekcja [server] określa konfigurację serwera centralnego na którym zbierane są dane</h2>
<p>Parametr <strong>host</strong> jest wymagany i określa adres pod którym znajduje się aplikacja serwerowa.</p>
<h2 id="sekcja-client-określa-konfigurację-aplikacji-klienta">Sekcja [client] określa konfigurację aplikacji klienta</h2>
<p>Parametr <strong>delay</strong> jest wymagany i określa co ile sekund aplikacja klienta będzie wysyłać raport do aplikacji serwerowej.</p>
<p>Parametr <strong>id</strong> jest wymagany i określa <strong>id komputera</strong>, które można znaleźć na &quot;Liście komputerów&quot; lub &quot;Liście komputerów do wydruku&quot; w aplikacji serwerowej.</p>
<p>Parametr <strong>key</strong> jest wymagany i określa <strong>klucz</strong> jaki będzie używany przez aplikację klienta przy dostępie do API aplikacji serwerowej. Wartość tego parametru dla konkretnego komputera można znaleźć na &quot;Liście komputerów&quot; lub &quot;Liście komputerów do wydruku&quot; w aplikacji serwerowej.</p>
<p>Dwa powyższe parametry można potraktować trochę jako nazwę użytkownika i hasło, które służą do identyfikacji i autoryzacji aplikacji klienta w API aplikacji serwerowej. Parametr id jest zawsze unikatowy, parametr key może być taki sam dla wszystkich komputerów w sieci.</p>
<p>Parametr <strong>reporting_starts_at</strong> jest opcjonalny i określa godzinę i minutę od której aplikacja klienta ma zacząć wysyłać raporty.</p>
<p>Parametr <strong>reporting_ends_at</strong> jest opcjonalny i określa godzinę i minutę od której aplikacja klienta ma zakończyć wysyłanie raportów.</p>
<h2 id="logi-aplikacji-klienta">Logi aplikacji klienta</h2>
<p>Aplikacja klienta zapisuje logi w pliku <strong>ww.log</strong> znajdującym się w katalogu &quot;Users\{{nazwa użytkownika}}\AppData\Local\Temp&quot;</p>
<h1 id="wsparcie-techniczne">Wsparcie techniczne</h1>
<p>Wsparcie techniczne można uzyskać pod adresem <script type="text/javascript">
<!--
h='&#x77;&#x6f;&#114;&#x6b;&#x77;&#x61;&#116;&#x63;&#104;&#x65;&#114;&#46;&#112;&#108;';a='&#64;';n='&#x73;&#x75;&#112;&#112;&#x6f;&#114;&#116;';e=n+a+h;
document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'">'+e+'<\/'+'a'+'>');
// -->
</script><noscript>&#x73;&#x75;&#112;&#112;&#x6f;&#114;&#116;&#32;&#x61;&#116;&#32;&#x77;&#x6f;&#114;&#x6b;&#x77;&#x61;&#116;&#x63;&#104;&#x65;&#114;&#32;&#100;&#x6f;&#116;&#32;&#112;&#108;</noscript></p>
