<p>Ta instrukcja jest przeznaczona dla osób, które nie chcą używać referencyjnego systemu operacyjnego opartego o dystrybucję CentOS i udostępnionego przez firmę Event Horizon razem z systemem WorkWatcher.</p>
<p>Instalacja systemu WorkWatcher jest wspierana na systemach będących pochodnymi Red Hat Enterprise Linux i każdy administrator przy minimalnym nakładzie pracy jest w stanie przeprowadzić instalację takiego systemu zgodnie z instrukcjami, które znajdują się w pliku misc/bin/reference_server_install_el6.sh w archiwum z kodem źródłowym projektu.</p>
<p>Dzięki informacją znajdującym się w tym pliku administrator powinien być w stanie zainstalować system WorkWatcher na innych dystrybucjach Linuksa.</p>
<h1 id="instalacja-części-serwerowej-workwatcher">Instalacja części serwerowej WorkWatcher</h1>
<p>Instalacje systemu na serwerze można podzielić na dwa etapy:</p>
<ul>
<li>przygotowanie systemu operacyjnego i oprogramowania</li>
<li>instalację systemu WorkWatcher</li>
</ul>
<h2 id="system-operacyjny">System operacyjny</h2>
<p>WorkWatcher działa na systemie CentOS 6.x z zainstalowanym PHP 5.4.x oraz MongoDB 2.4.x. Przed instalacją systemu zaleca się wyłączenie SELinux lub przełączenie go w tryb permissive.</p>
<p>Instrukcje instalacji poszczególnych pakietów można znaleźć w pliku misc/bin/reference_server_install_el6.sh w archiwum z kodem źródłowym projektu.</p>
<p>Wykonanie tego skryptu jest zalecane tylko i wyłącznie na nowo zainstalowanym systemie. Nie zaleca się automatycznej instalacji na działającym systemie na którym są uruchomione inne usługi. Administrator powinien przejrzeć zawartość skryptu i dostosować instalację do potrzeb istniejącego systemu.</p>
<h2 id="instalacja-systemu-workwatcher">Instalacja systemu WorkWatcher</h2>
<p>Archiwum z kodem źródłowym należy rozpakować do katalogu /var/www/work-watcher (lub innego, który będzie skonfigurowany w virtual host).</p>
<p>Do pliku konfiguracyjnego serwera httpd należy dodać</p>
<pre><code>&lt;VirtualHost *:80&gt;
  DocumentRoot /var/www/work-watcher/web
  DirectoryIndex app.php
  &lt;Directory /var/www/work-watcher/web&gt;
    AllowOverride All
    Order allow,deny
    Allow from All
  &lt;/Directory&gt;
&lt;/VirtualHost&gt;</code></pre>
<p>W przypadku używania serwera httpd w wersji 2.4 należy wprowadzić zmiany wkonfiguracji, które szczegółowo zostały opisane w <a href="http://symfony.com/doc/current/cookbook/configuration/web_server_configuration.html">http://symfony.com/doc/current/cookbook/configuration/web_server_configuration.html</a> .</p>
<p>Istnieje możliwość używania serwera Nginx jak zostało opisane w powyżej wspomnianej instrukcji, jednak należy pamiętać, że konfiguracja serwera powinna domyślnie wykonywać plik index.php zamiast app.php. Jest to związane z tym, że index.php jest linkiem, który w momencie blokowania usługi prowadzi do statycznej strony html.</p>
<p>Po skopiowaniu kodu źródłowego do katalogu należy do niego wejść z poziomu linii poleceń</p>
<pre><code>cd /var/www/work-watcher</code></pre>
<p>i wykonać skrypt instalacyjny</p>
<pre><code>sh misc/bin/prod_install.sh</code></pre>
<p>W razie pojawienia się jakichkolwiek problemów na tym etapie instalacji zaleca się prześledzenie krok po kroku wykonywanych przez skrypt czynności i ustalenie problematycznego fragmentu.</p>
<p>Jeśli problem jest związany z listami kontroli dostępu, to w <a href="http://symfony.com/doc/current/book/installation.html">http://symfony.com/doc/current/book/installation.html</a> można znaleźć rozwiązania tego problemu dla różnych systemów.</p>
<p>Należy zadbać o to, żeby skrypt</p>
<pre><code>php app/check.php</code></pre>
<p>nie wskazywał żadnych problemów.</p>
<p>Po pomyślnie zakończonej instalacji zaleca się uruchomienie zestawu testów. Na czas uruchomienia testów należy zmienić wartość &quot;development_fixtures&quot; w pliku app/config/parameters.yml na &quot;true&quot;. Po zakończeniu testów wartość tę należy zmienić na &quot;false&quot;. Testy należy uruchomić poleceniem</p>
<pre><code>sh misc/bin/run_phpunit_tests.sh</code></pre>
