<h1 id="program-klienta">Program klienta</h1>
<p>Program klienta można uruchomić na komputerach klasy PC działających pod kontrolą systemów Windows XP SP3, Windows Vista SP2, Windows 7, Windows 8.</p>
<h1 id="część-serwerowa">Część serwerowa</h1>
<p>Część serwerowa działa na 64 bitowym systemie Enterprise Linux 6.x (RHEL, CentOS, Scientific Linux, Oracle). Referencyjny system wirtualny musi być uruchomiony na 64 bitowym systemie operacyjnym.</p>
<p>Wymagania sprzętowe są uzależnione od ilości klientów. Dla referencyjnego systemu wyglądają następująco:</p>
<ul>
<li>do 10 klientów - 1 wirtualny CPU 2.0 GHz, 2 GB RAM</li>
<li>od 11 do 40 - 1 wirtualny CPU 2.0 GHz, 4 GB RAM</li>
<li>od 41 do 80 - 2 wirtualne CPU 2.0 GHz, 8 GB RAM</li>
<li>od 81 do 120 - 3 wirtualne CPU 2.0 GHz, 12 GB RAM</li>
</ul>
<p>Dla systemów w których ma działać większa ilość klientów zaleca się zastosowanie dedykowanej maszyny.</p>
