<h1 id="aktualizacja-oprogramowania-serwerowego">Aktualizacja oprogramowania serwerowego</h1>
<p>Pierwszym krokiem jest skopiowanie na maszynę wirtualną archiwum z najnowszą wersją programu. Najlepiej jest zrobić to za pomocą programu WinSCP <a href="http://winscp.net/">http://winscp.net/</a> . Na potrzeby naszego przykładu zakładamy, że archiwum nazywa się work-watcher-1.0.5.tar.bz2 i kopiujemy go do katalogu /root/ .</p>
<p>Przy logowaniu się do systemu VM hasło dla użytkownika &quot;root&quot; to &quot;workwatcher&quot; - zalecamy zmianę tego hasła przy pomocy polecenia passwd.</p>
<p>Po skopiowaniu archiwum na VM należy się zalogować przez SSH. Najlepiej jest zrobić to za pomocą programu PuTTY <a href="http://www.chiark.greenend.org.uk/~sgtatham/putty/download.html">http://www.chiark.greenend.org.uk/~sgtatham/putty/download.html</a> .</p>
<p>Na początku upewniamy się, że jesteśmy w katalogu w którym jest zainstalowany WorkWatcher</p>
<pre><code>cd /var/www/work-watcher/</code></pre>
<p>Następnie wyłączamy aplikację serwerową.</p>
<pre><code>sh misc/bin/prod_stop.sh</code></pre>
<p>Po tej czynności w momencie wejścia na adres pod którym jest dostępna aplikacja serwerowa (standardowo <a href="http://192.168.56.101/">http://192.168.56.101/</a>), powinniśmy zobaczyć komunikat &quot;Aktualizacja w toku...&quot;.</p>
<p>W tym momencie wszystkie aplikacje klienta, które by chciały wysłać dane na serwer nie mogą tego zrobić i gromadzą raporty w celu późniejszego ich wysłania.</p>
<p>Następnie kopiujemy nową wersję kodu źródłowego</p>
<pre><code>sh misc/bin/update_source_code.sh /root/work-watcher-1.0.5.tar.bz2</code></pre>
<p>i uruchamiamy skrypt aktualizujący.</p>
<pre><code>sh misc/bin/prod_update.sh</code></pre>
<p>Po wykonaniu tej czynności część serwerowa jest już zaktualizowana i gotowa do pracy.</p>
