<!DOCTYPE html>
<html>
    <head>
        {% include "EventHorizonThemeBundle::head.html.twig" %}
        {% include "EventHorizonThemeBundle::css.html.twig" %}
        {% block stylesheets %}{% endblock %}
        <title>WorkWatcher {% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% include "EventHorizonThemeBundle::js.html.twig" %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
