{% stylesheets output='css/*.css' filter='cssrewrite'
    'bundles/eventhorizonassets/css/bootstrap-cerulean.min.css'
    'bundles/eventhorizonassets/css/datepicker3.min.css'
    'bundles/eventhorizonassets/css/font-awesome.min.css'
%}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %}
