<!--[if lte IE 8]>
    {% javascripts
        'bundles/eventhorizonassets/js/IE9.min.js'
        'bundles/eventhorizonassets/js/html5shiv.min.js'
        'bundles/eventhorizonassets/js/respond.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
<![endif]-->

{% javascripts
    'bundles/eventhorizonassets/js/jquery.min.js'
    'bundles/eventhorizonassets/js/bootstrap.min.js'
    'bundles/eventhorizonassets/js/confirm-bootstrap.min.js'
    'bundles/eventhorizonassets/js/bootstrap-datepicker.min.js'
    'bundles/eventhorizonassets/js/jquery.lazy.min.js'
    'bundles/eventhorizonassets/js/jquery.validate.min.js'
    'bundles/eventhorizontheme/js/main.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
