{% extends 'EventHorizonThemeBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('_homepage') }}"><i class="fa fa-eye"></i> WorkWatcher</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_OBSERVER') %}
                        <li>
                            <a href="{{ path('computer_index') }}">
                                <i class="fa fa-desktop"></i> {% trans %}computer_list{% endtrans %}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_OBSERVER') %}
                        <li>
                            <a href="{{ path('note_index') }}">
                                <i class="fa fa-pencil-square-o"></i> {% trans %}list_of_my_notes{% endtrans %}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_OBSERVER') %}
                        <li>
                            <a href="{{ path('statistics_index') }}">
                                <i class="fa fa-bar-chart-o"></i> {% trans %}statistics{% endtrans %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> {% trans %}account{% endtrans %} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path('user_management_index') }}">
                                            <i class="fa fa-user"></i> {% trans %}user_managing{% endtrans %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('group_management_index') }}">
                                            <i class="fa fa-users"></i> {% trans %}group_managing{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('fos_user_profile_show') }}">
                                        <span class="glyphicon glyphicon-user"></span> {% trans %}user_account{% endtrans %}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        <i class="fa fa-sign-out"></i> {% trans %}logout{% endtrans %}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">
                                <i class="fa fa-sign-in"></i> {% trans %}login{% endtrans %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <ol class="breadcrumb">
            <li><a href="{{ path('_homepage') }}">{% trans %}home_page{% endtrans %}</a></li>
            {% block breadcrumb %}{% endblock %}
        </ol>

        <noscript>
            <div class="alert alert-danger col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                {% trans %}your_browser_does_not_support_javascript{% endtrans %}
                <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            </div>
            <div class="clearfix"></div>
        </noscript>

        {% for flashMessage in app.session.flashbag.get('alert') %}
            <div class="alert alert-warning col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                {{ flashMessage }}
                <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            </div>
            <div class="clearfix"></div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                {{ flashMessage }}
                <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            </div>
            <div class="clearfix"></div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="alert alert-info col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                {{ flashMessage }}
                <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            </div>
            <div class="clearfix"></div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                {{ flashMessage }}
                <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            </div>
            <div class="clearfix"></div>
        {% endfor %}

        {% block content %}{% endblock %}

        <div class="clearfix"></div>
        <div class="col-lg-12 col-md-12 panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <strong>&copy; {{ "now"|date("Y") }} <a href="http://eventhorizon.pl/">eventhorizon.pl</a></strong>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                        <a href="{{ path('eh_page_show', {'name': 'help'}) }}">{% trans %}help{% endtrans %}</a> |
                        <a href="{{ path('eh_page_show', {'name': 'license'}) }}">{% trans %}license{% endtrans %}</a> |
                        <a href="{{ path('eh_page_show', {'name': 'update'}) }}">{% trans %}update{% endtrans %}</a> |
                        <a href="{{ path('eh_page_show', {'name': 'install'}) }}">{% trans %}install{% endtrans %}</a> |
                        <a href="{{ path('eh_page_show', {'name': 'requirements'}) }}">{% trans %}requirements{% endtrans %}</a> |
                        <a href="{{ path('eh_page_show', {'name': 'changelog'}) }}">{% trans %}changelog{% endtrans %}</a> |
                        <a href="{{ path('eh_page_show', {'name': 'faq'}) }}">{% trans %}faq{% endtrans %}</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                        {% trans %}technical_support{% endtrans %} - <a href="mailto:support@workwatcher.pl">support@workwatcher.pl</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
