{% extends 'EventHorizonThemeBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}user_managing{% endtrans %} - {% trans %}user_edit{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('user_management_index') }}">{% trans %}user_managing{% endtrans %}</a></li>
    <li><a href="{{ path('user_management_edit', { 'id': user.id }) }}">{% trans %}user_edit{% endtrans %}</a></li>
{% endblock %}

{% block content -%}
    {% include 'EventHorizonThemeBundle:UserManagement:form.html.twig' with { 'display_mode': 'edit' } %}
{% endblock %}
