<div class="panel panel-default">
    <div class="panel-body">
        {% if display_mode == 'new' %}
            <form action="{{ path('user_management_create') }}" class="form-horizontal" method="post" role="form" {{ form_enctype(form) }}>
                <input type="hidden" name="_method" value="post" />
        {% elseif display_mode == 'edit' %}
            <form action="{{ path('user_management_update', { 'id': user.id }) }}" class="form-horizontal" method="post" role="form" {{ form_enctype(form) }}>
                <input type="hidden" name="_method" value="put" />
        {% endif %}
            {{ form_errors(form) }}

        {% if display_mode == 'new' %}
            <h4>{% trans %}user_new{% endtrans %}</h4>
        {% elseif display_mode == 'edit' %}
            <h4>{% trans %}user_edit{% endtrans %}</h4>
        {% endif %}
            <hr />

            <div class="form-group">
                {{ form_label(form.username, 'username', { 'label_attr': { 'class': 'col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label' }}) }}
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    {{ form_errors(form.username) }}
                    {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'username'} }) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.email, 'email', { 'label_attr': { 'class': 'col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label' }}) }}
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'email'} }) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.plainPassword.first, form.plainPassword.first.vars.label|trans, { 'label_attr': { 'class': 'col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label' }}) }}
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    {{ form_errors(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': form.plainPassword.first.vars.label|trans} }) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.plainPassword.second, form.plainPassword.second.vars.label|trans, { 'label_attr': { 'class': 'col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label' }}) }}
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    {{ form_errors(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': form.plainPassword.second.vars.label|trans} }) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.roles, 'roles', { 'label_attr': { 'class': 'col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label' }}) }}
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    {{ form_errors(form.roles) }}
                    {{ form_widget(form.roles, { 'attr': {'class': 'form-control', 'placeholder': 'roles'} }) }}
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <h4><span class="glyphicon glyphicon-question-sign" data-container="body" data-content="{% trans %}user_form_roles{% endtrans %}" data-toggle="popover" data-placement="right" rel="popover"></span></h4>
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.groups, 'groups', { 'label_attr': { 'class': 'col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label' }}) }}
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    {{ form_errors(form.groups) }}
                    {{ form_widget(form.groups, { 'attr': {'class': 'form-control', 'placeholder': 'groups'} }) }}
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <h4><span class="glyphicon glyphicon-question-sign" data-container="body" data-content="{% trans %}user_form_groups{% endtrans %}" data-toggle="popover" data-placement="right" rel="popover"></span></h4>
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.enabled, 'account_enabled', { 'label_attr': { 'class': 'col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label' }}) }}
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    {{ form_errors(form.enabled) }}
                    {{ form_widget(form.enabled, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9 col-sm-offset-3 col-sm-9 col-xs-offset-3 col-xs-9">
                    <button class="btn btn-primary" type="submit" title="{% trans %}save{% endtrans %}"><span class="glyphicon glyphicon-ok"></span> {% trans %}save{% endtrans %}</button>
                    <a class="btn btn-info" href="{{ path('user_management_index') }}" title="{% trans %}return{% endtrans %}"><span class="glyphicon glyphicon-arrow-left"></span> {% trans %}return{% endtrans %}</a>
                </div>
            </div>

            {{ form_rest(form) }}
        </form>
    </div>
</div>
