{% extends 'EventHorizonThemeBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}user_managing{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('user_management_index') }}">{% trans %}user_managing{% endtrans %}</a></li>
{% endblock %}

{% block content -%}
    <div class="panel panel-default">
        <div class="panel-body">
            <h4 style="display: inline;">{% trans %}user_managing{% endtrans %}</h4>
            <a class="btn btn-primary pull-right" href="{{ path('user_management_new') }}" title="{% trans %}new_user{% endtrans %}"><span class="glyphicon glyphicon-plus"></span> {% trans %}new_user{% endtrans %}</a>
            <hr />

            <form action="{{ path('user_management_index') }}" class="form-inline" method="get" role="form">
                <div class="form-group">
                    <input autocomplete="off" class="col-lg-8 form-control" id="query" name="query" placeholder="{% trans %}search{% endtrans %}" value="{{ query }}" type="text">
                </div>

                <button class="btn btn-default" title="{% trans %}search{% endtrans %}" type="submit"><span class="glyphicon glyphicon-search"></span> {% trans %}search{% endtrans %}</button>
            </form>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, 'user_id'|trans, 'id') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'username'|trans, 'username') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'email'|trans, 'email') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'account_activity'|trans, 'enabled') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'roles'|trans, 'roles') }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in pagination %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    {% if user.enabled %}
                                        <span class="label label-success"><span class="glyphicon glyphicon-ok"></span> {% trans %}yes{% endtrans %}</span>
                                    {% else %}
                                        <span class="label label-danger"><span class="glyphicon glyphicon-remove"></span> {% trans %}no{% endtrans %}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for role in user.roles %}
                                            <li>{{ role|trans }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <a class="btn btn-success pull-right" href="{{ path('user_management_edit', { 'id': user.id }) }}" title="{% trans %}edit{% endtrans %}"><span class="glyphicon glyphicon-edit"></span> <span class="hidden-sm hidden-xs">{% trans %}edit{% endtrans %}</span></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
