<div class="panel panel-default">
    <div class="panel-body">
        {% if display_mode == 'new' %}
            <form action="{{ path('group_management_create') }}" class="form-horizontal" method="post" role="form" {{ form_enctype(form) }}>
                <input type="hidden" name="_method" value="post" />
        {% elseif display_mode == 'edit' %}
            <form action="{{ path('group_management_update', { 'id': group.id }) }}" class="form-horizontal" method="post" role="form" {{ form_enctype(form) }}>
                <input type="hidden" name="_method" value="put" />
        {% endif %}
            {{ form_errors(form) }}

        {% if display_mode == 'new' %}
            <h4>{% trans %}group_new{% endtrans %}</h4>
        {% elseif display_mode == 'edit' %}
            <h4>{% trans %}group_edit{% endtrans %}</h4>
        {% endif %}
            <hr />

            <div class="form-group">
                {{ form_label(form.name, 'group_name', { 'label_attr': { 'class': 'col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label' }}) }}
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'group_name'} }) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9 col-sm-offset-3 col-sm-9 col-xs-offset-3 col-xs-9">
                    <button class="btn btn-primary" type="submit" title="{% trans %}save{% endtrans %}"><span class="glyphicon glyphicon-ok"></span> {% trans %}save{% endtrans %}</button>
                    <a class="btn btn-info" href="{{ path('group_management_index') }}" title="{% trans %}return{% endtrans %}"><span class="glyphicon glyphicon-arrow-left"></span> {% trans %}return{% endtrans %}</a>
                </div>
            </div>

            {{ form_rest(form) }}
        </form>
    </div>
</div>
