{% extends 'EventHorizonThemeBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}group_managing{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('group_management_index') }}">{% trans %}group_managing{% endtrans %}</a></li>
{% endblock %}

{% block content -%}
    <div class="panel panel-default">
        <div class="panel-body">
            <h4 style="display: inline;">{% trans %}group_managing{% endtrans %}</h4>
            <a class="btn btn-primary pull-right" href="{{ path('group_management_new') }}" title="{% trans %}group_new{% endtrans %}"><span class="glyphicon glyphicon-plus"></span> {% trans %}group_new{% endtrans %}</a>
            <hr />

            <form action="{{ path('group_management_index') }}" class="form-inline" method="get" role="form">
                <div class="form-group">
                    <input autocomplete="off" class="col-lg-8 form-control" id="query" name="query" placeholder="{% trans %}search{% endtrans %}" value="{{ query }}" type="text">
                </div>

                <button class="btn btn-default" title="{% trans %}search{% endtrans %}" type="submit"><span class="glyphicon glyphicon-search"></span> {% trans %}search{% endtrans %}</button>
            </form>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, 'group_id'|trans, 'id') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'group_name'|trans, 'name') }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in pagination %}
                            <tr>
                                <td>{{ group.id }}</td>
                                <td>{{ group.name }}</td>
                                <td>
                                    <a class="btn btn-success pull-right" href="{{ path('group_management_edit', { 'id': group.id }) }}" title="{% trans %}edit{% endtrans %}"><span class="glyphicon glyphicon-edit"></span> <span class="hidden-sm hidden-xs">{% trans %}edit{% endtrans %}</span></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
