{% extends 'EventHorizonThemeBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}group_managing{% endtrans %} - {% trans %}group_new{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('group_management_index') }}">{% trans %}group_managing{% endtrans %}</a></li>
    <li><a href="{{ path('group_management_new') }}">{% trans %}group_new{% endtrans %}</a></li>
{% endblock %}

{% block content -%}
    {% include 'EventHorizonThemeBundle:GroupManagement:form.html.twig' with { 'display_mode': 'new' } %}
{% endblock %}
