{% extends 'EventHorizonThemeBundle::layout.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <h3>{% trans %}default.index.text1{% endtrans %} <a href="{{ path('computer_index') }}"><i class="fa fa-desktop"></i> {% trans %}computer_list{% endtrans %}</a> {% trans %}default.index.in_main_menu{% endtrans %}</h3>
                <h3>{% trans %}default.index.text2{% endtrans %} <a href="{{ path('note_index') }}"><i class="fa fa-pencil-square-o"></i> {% trans %}list_of_my_notes{% endtrans %}</a> {% trans %}default.index.in_main_menu{% endtrans %}</h3>
            {% else %}
                <h3>{% trans %}default.index.text3{% endtrans %} <a href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in"></i> {% trans %}login{% endtrans %}</a> {% trans %}default.index.in_main_menu{% endtrans %}</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}
