{% extends 'EventHorizonThemeBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}list_of_my_notes{% endtrans %} - {% trans %}note_edit{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('note_index') }}">{% trans %}list_of_my_notes{% endtrans %}</a></li>
    <li><a href="{{ path('note_edit', { 'id': note.id }) }}">{% trans %}note_edit{% endtrans %}</a></li>
{% endblock %}

{% block content -%}
    {% include 'EventHorizonThemeBundle:Note:form.html.twig' %}
{% endblock %}
