<div class="panel panel-default">
    <div class="panel-body">
        <form action="{{ path('note_update', { 'id': note.id }) }}" class="form-horizontal" method="post" role="form" {{ form_enctype(form) }}>
            <input type="hidden" name="_method" value="put" />
            {{ form_errors(form) }}
            <h4>{% trans %}note_edit{% endtrans %}</h4>
            <hr />

            <div class="form-group">
                {{ form_label(form.title, 'title', { 'label_attr': { 'class': 'col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label' }}) }}
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': 'title'} }) }}
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <h4><span class="glyphicon glyphicon-question-sign" data-container="body" data-content="{% trans %}note_form_title{% endtrans %}" data-toggle="popover" data-placement="right" rel="popover"></span></h4>
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.content, 'content', { 'label_attr': { 'class': 'col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label' }}) }}
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    {{ form_errors(form.content) }}
                    {{ form_widget(form.content, { 'attr': {'class': 'form-control', 'placeholder': 'content'} }) }}
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <h4><span class="glyphicon glyphicon-question-sign" data-container="body" data-content="{% trans %}note_form_content{% endtrans %}" data-toggle="popover" data-placement="right" rel="popover"></span></h4>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9 col-sm-offset-3 col-sm-9 col-xs-offset-3 col-xs-9">
                    <button class="btn btn-primary" type="submit" title="{% trans %}save{% endtrans %}"><span class="glyphicon glyphicon-ok"></span> {% trans %}save{% endtrans %}</button>
                    <a class="btn btn-info" href="{{ path('note_index') }}" title="{% trans %}save{% endtrans %}"><span class="glyphicon glyphicon-arrow-left"></span> {% trans %}return{% endtrans %}</a>
                </div>
            </div>

            {{ form_rest(form) }}
        </form>
    </div>
</div>
