{% extends 'EventHorizonThemeBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}list_of_my_notes{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('note_index') }}">{% trans %}list_of_my_notes{% endtrans %}</a></li>
{% endblock %}

{% block content -%}
    <div class="panel panel-default">
        <div class="panel-body">
            <h4 style="display: inline;">{% trans %}list_of_my_notes{% endtrans %}</h4>
            <hr />

            <form action="{{ path('note_index') }}" class="form-inline" method="get" role="form">
                <div class="form-group">
                    <input autocomplete="off" class="col-lg-8 form-control" id="query" name="query" placeholder="{% trans %}search{% endtrans %}" value="{{ query }}" type="text">
                </div>

                <div class="form-group">
                    <label for="computer_id">{% trans %}computer{% endtrans %}:</label>
                    <select class="form-control" id="computer_id" name="computer_id">
                        <option value=""></option>
                        {% for computer in computers %}
                            <option value="{{ computer.id }}" {% if (computer.id == computerId) %}selected{% endif %}>{{ computer.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button class="btn btn-default" title="{% trans %}search{% endtrans %}" type="submit"><span class="glyphicon glyphicon-search"></span> {% trans %}search{% endtrans %}</button>
            </form>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, 'title'|trans, 'title') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'content'|trans, 'content') }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for note in pagination %}
                            <tr>
                                <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3">{{ note.title }}</td>
                                <td>{{ note.content }}</td>
                                <td class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_OBSERVER') %}
                                        <div class="btn-group pull-right" style="margin-left: 5px;">
                                            <a class="btn btn-success" href="{{ path('note_edit', { 'id': note.id }) }}" title="{% trans %}edit{% endtrans %}"><span class="glyphicon glyphicon-edit"></span> <span class="hidden-sm hidden-xs">{% trans %}edit{% endtrans %}</span></a>
                                            <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="{{ path('note_edit', { 'id': note.id }) }}" title="{% trans %}edit{% endtrans %}"><span class="glyphicon glyphicon-edit"></span> {% trans %}edit{% endtrans %}</a></li>
                                                <li><a class="confirm_delete" data-confirm-cancel="{% trans %}cancel{% endtrans %}" data-confirm-direction="ltr" data-confirm-message="{% trans %}are_you_sure_you_want_to_delete{% endtrans %}" data-confirm-ok="{% trans %}yes{% endtrans %}" data-confirm-title="{% trans %}confirmation{% endtrans %}" href="{{ path('note_delete', { 'id': note.id }) }}" title="{% trans %}delete{% endtrans %}"><span class="glyphicon glyphicon-trash"></span> {% trans %}delete{% endtrans %}</a></li>
                                            </ul>
                                        </div>
                                        <a class="btn btn-warning pull-right" href="{{ path('note_show', { 'id': note.id }) }}" title="{% trans %}show_note{% endtrans %}"><span class="glyphicon glyphicon-eye-open"></span> <span class="hidden-sm hidden-xs">{% trans %}show_note{% endtrans %}</span></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <h3>{% trans %}notes_no_found{% endtrans %}</h3>
                        {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
