{% extends 'EventHorizonThemeBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}list_of_my_notes{% endtrans %} - {% trans %}note_show{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('note_index') }}">{% trans %}list_of_my_notes{% endtrans %}</a></li>
    <li><a href="{{ path('note_show', { 'id': note.id }) }}">{% trans %}note_show{% endtrans %}</a></li>
{% endblock %}

{% block content -%}
    <div class="panel panel-default">
        <div class="panel-body">
            <h4 style="display: inline;">{% trans %}note_show{% endtrans %}</h4>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_OBSERVER') %}
                <a class="btn btn-success pull-right" href="{{ path('note_edit', { 'id': note.id }) }}" title="{% trans %}edit{% endtrans %}"><span class="glyphicon glyphicon-edit"></span> {% trans %}edit{% endtrans %}</a>
            {% endif %}
            <hr />

            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{% trans %}note_id{% endtrans %}</th>
                            <td>{{ note.id }}</td>
                        </tr>
                        <tr>
                            <th>{% trans %}issued_by{% endtrans %}</th>
                            <td>{{ note.user }}</td>
                        </tr>
                        <tr>
                            <th>{% trans %}title{% endtrans %}</th>
                            <td>{{ note.title }}</td>
                        </tr>
                        <tr>
                            <th>{% trans %}content{% endtrans %}</th>
                            <td>{{ note.content }}</td>
                        </tr>
                        <tr>
                            <th>{% trans %}screen_shot{% endtrans %}</th>
                            <td>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <a href="{{ path('report_file_show', { 'id': note.report.id }) }}" target="_blank"><img alt="Report image" class="img-responsive img-rounded" src="{{ path('report_file_show', { 'id': note.report.id }) }}"></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans %}report_id{% endtrans %}</th>
                            <td>{{ note.report.id }}</td>
                        </tr>
                        <tr>
                            <th>{% trans %}username{% endtrans %}</th>
                            <td>{{ note.report.username }}</td>
                        </tr>
                        <tr>
                            <th>{% trans %}hostname{% endtrans %}</th>
                            <td>{{ note.report.hostname }}</td>
                        </tr>
                        <tr>
                            <th>{% trans %}ip{% endtrans %}</th>
                            <td>{{ note.report.ip }}</td>
                        </tr>
                        <tr>
                            <th>{% trans %}created_at{% endtrans %}</th>
                            <td>{{ note.report.date }} {{ note.report.time }}</td>
                        </tr>
                        <tr>
                            <th>{% trans %}computer_id{% endtrans %}</th>
                            <td>
                                {{ note.report.computer.id }}
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_OBSERVER') %}
                                    <a class="btn btn-warning" href="{{ path('report_show', { 'computerId': note.report.computer.id }) }}" title="{% trans %}reports_show{% endtrans %}"><span class="glyphicon glyphicon-eye-open"></span> {% trans %}reports{% endtrans %}</a>
                                    <a class="btn btn-info" href="{{ path('note_show_summary', { 'computerId': note.report.computer.id }) }}" style="margin-left: 5px;" title="{% trans %}note_show_summary{% endtrans %}"><span class="glyphicon glyphicon-list-alt"></span> {% trans %}notes_summary{% endtrans %}</a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans %}computer_name{% endtrans %}</th>
                            <td>{{ note.report.computer.name }}</td>
                        </tr>
                        <tr>
                            <th>{% trans %}computer_description{% endtrans %}</th>
                            <td>{{ note.report.computer.description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
