{% extends 'EventHorizonThemeBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}computer_list{% endtrans %} - {% trans %}notes_summary{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('computer_index') }}">{% trans %}computer_list{% endtrans %}</a></li>
    <li><a href="{{ path('note_show_summary', { 'computerId': computer.id }) }}">{% trans %}notes_summary{% endtrans %}</a></li>
{% endblock %}

{% block content -%}
    <div class="panel panel-default">
        <div class="panel-body">
            <h4 style="display: inline;">{% trans %}notes_summary{% endtrans %}</h4>
            <a class="btn btn-danger pull-right" href="{{ path('report_show_live_view', { 'computerId': computer.id }) }}" style="margin-left: 5px;" title="{% trans %}live_view{% endtrans %}"><span class="glyphicon glyphicon-search"></span> {% trans %}live_view{% endtrans %}</a>
            <a class="btn btn-warning pull-right" href="{{ path('report_show', { 'computerId': computer.id }) }}" style="margin-left: 5px;" title="{% trans %}reports_show{% endtrans %}"><span class="glyphicon glyphicon-eye-open"></span> {% trans %}reports{% endtrans %}</a>
            <hr />

            <h5>{{ "notes_summary_for_computer"|trans({ '%computer%': computer.name, '%group%': computer.group.name, '%date_start%': dateStart|date('Y-m-d'), '%date_end%': dateEnd|date('Y-m-d') }) }}</h5>

            <form action="{{ path('note_show_summary', { 'computerId': computer.id }) }}" class="form-inline" method="get" role="form">
                <div class="form-group">
                    <label for="date_start">{% trans %}from{% endtrans %}:</label>
                    <input class="form-control datepicker" id="date_start" name="date_start" type="text" value="{{ dateStart|date('Y-m-d') }}">
                </div>
                <div class="form-group">
                    <label for="date_end">{% trans %}to{% endtrans %}:</label>
                    <input class="form-control datepicker" id="date_end" name="date_end" type="text" value="{{ dateEnd|date('Y-m-d') }}">
                </div>
                <button class="btn btn-default" title="{% trans %}search{% endtrans %}" type="submit"><span class="glyphicon glyphicon-search"></span> {% trans %}search{% endtrans %}</button>
            </form>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{% trans %}title{% endtrans %}</th>
                            <th>{% trans %}content{% endtrans %}</th>
                            <th>{% trans %}issued_by{% endtrans %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for note in notes %}
                            <tr>
                                <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3">{{ note.title }}</td>
                                <td>{{ note.content }}</td>
                                <td>{{ note.user }}</td>
                                <td class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_OBSERVER') %}
                                        <div class="btn-group pull-right" style="margin-left: 5px;">
                                            <a class="btn btn-success" href="{{ path('note_edit', { 'id': note.id }) }}" title="{% trans %}edit{% endtrans %}"><span class="glyphicon glyphicon-edit"></span> <span class="hidden-sm hidden-xs">{% trans %}edit{% endtrans %}</span></a>
                                            <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="{{ path('note_edit', { 'id': note.id }) }}" title="{% trans %}edit{% endtrans %}"><span class="glyphicon glyphicon-edit"></span> {% trans %}edit{% endtrans %}</a></li>
                                                <li><a href="{{ path('note_delete', { 'id': note.id }) }}" title="{% trans %}delete{% endtrans %}"><span class="glyphicon glyphicon-trash"></span> {% trans %}delete{% endtrans %}</a></li>
                                            </ul>
                                        </div>
                                        <a class="btn btn-warning pull-right" href="{{ path('note_show', { 'id': note.id }) }}" title="{% trans %}show_note{% endtrans %}"><span class="glyphicon glyphicon-eye-open"></span> <span class="hidden-sm hidden-xs">{% trans %}show_note{% endtrans %}</span></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <h3>{% trans %}notes_no_found{% endtrans %}</h3>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
