{% extends 'EventHorizonThemeBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}computer_list{% endtrans %} - {% trans %}reports{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('computer_index') }}">{% trans %}computer_list{% endtrans %}</a></li>
    <li><a href="{{ path('report_show', { 'computerId': computer.id }) }}">{% trans %}reports{% endtrans %}</a></li>
{% endblock %}

{% block content -%}
    <div class="panel panel-default">
        <div class="panel-body">
            <h4 style="display: inline;">{% trans %}reports{% endtrans %}</h4>
            <a class="btn btn-info pull-right" href="{{ path('note_show_summary', { 'computerId': computer.id }) }}" style="margin-left: 5px;" title="{% trans %}note_show_summary{% endtrans %}"><span class="glyphicon glyphicon-list-alt"></span> {% trans %}notes_summary{% endtrans %}</a>
            <a class="btn btn-danger pull-right" href="{{ path('report_show_live_view', { 'computerId': computer.id }) }}" style="margin-left: 5px;" title="{% trans %}live_view{% endtrans %}"><span class="glyphicon glyphicon-search"></span> {% trans %}live_view{% endtrans %}</a>
            <hr />

            <h5>{{ "reports_summary_for_computer"|trans({ '%computer%': computer.name, '%group%': computer.group.name, '%date_start%': dateStart|date('Y-m-d'), '%date_end%': dateEnd|date('Y-m-d') }) }}</h5>

            <form action="{{ path('report_show', { 'computerId': computer.id }) }}" class="form-inline" method="get" role="form">
                <div class="form-group">
                    <label for="date_start">{% trans %}from{% endtrans %}:</label>
                    <input class="form-control datepicker" id="date_start" name="date_start" type="text" value="{{ dateStart|date('Y-m-d') }}">
                </div>
                <div class="form-group">
                    <label for="date_end">{% trans %}to{% endtrans %}:</label>
                    <input class="form-control datepicker" id="date_end" name="date_end" type="text" value="{{ dateEnd|date('Y-m-d') }}">
                </div>
                <button class="btn btn-default" title="{% trans %}search{% endtrans %}" type="submit"><span class="glyphicon glyphicon-search"></span> {% trans %}search{% endtrans %}</button>
            </form>

            <div class="clearfix"><br /></div>
            {% for report in reports %}
                <hr />
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <a href="{{ path('report_file_show', { 'id': report.id }) }}" target="_blank"><img alt="Report image" class="img-responsive img-rounded lazy" data-src="{{ path('report_file_show', { 'id': report.id }) }}" src=""></a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="row">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>{% trans %}created_at{% endtrans %}</th>
                                        <td>
                                            {{ report.date }} {{ report.time }}<br />
                                            <a class="show_more" data-report="{{ report.id }}" href="#" id="report_{{ report.id }}_show_more_button">{% trans %}show_more{% endtrans %}</a>
                                        </td>
                                    </tr>
                                    <tr class="hidden hidden_{{ report.id }}">
                                        <th>{% trans %}username{% endtrans %}</th>
                                        <td>{{ report.username }}</td>
                                    </tr>
                                    <tr class="hidden hidden_{{ report.id }}">
                                        <th>{% trans %}hostname{% endtrans %}</th>
                                        <td>{{ report.hostname }}</td>
                                    </tr>
                                    <tr class="hidden hidden_{{ report.id }}">
                                        <th>{% trans %}ip{% endtrans %}</th>
                                        <td>{{ report.ip }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {% if report.note == null %}
                            <div class="row">
                                <a class="btn btn-primary new_note" data-report="{{ report.id }}" href="#" id="report_{{ report.id }}_note_add_button" title="{% trans %}note_new{% endtrans %}"><span class="glyphicon glyphicon-plus"></span> {% trans %}note_new{% endtrans %}</a>
                            </div>
                        {% endif %}
                        <div class="row" id="report_{{ report.id }}_note">
                            {% if report.note %}
                                <table class="table">
                                    <caption>{% trans %}note{% endtrans %}</caption>
                                    <tbody>
                                        <tr>
                                            <th>{% trans %}title{% endtrans %}</th>
                                            <td>{{ report.note.title }}</td>
                                        </tr>
                                        <tr>
                                            <th>{% trans %}content{% endtrans %}</th>
                                            <td>{{ report.note.content }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_OBSERVER') %}
                                    <a class="btn btn-success" href="{{ path('note_edit', { 'id': report.note.id }) }}" title="{% trans %}edit{% endtrans %}"><span class="glyphicon glyphicon-edit"></span> {% trans %}edit{% endtrans %}</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="clearfix"><br /></div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="note-save-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans %}note_new{% endtrans %}</h4>
                </div>
                <form action="{{ path('note_create') }}" class="form-horizontal" id="note_create_form" method="post" role="form">
                    <div class="modal-body">
                        <input type="hidden" name="report_id" id="report_id" value="" />

                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="title">{% trans %}title{% endtrans %}</label>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <input class="form-control" id="title" name="title" placeholder="{% trans %}title{% endtrans %}" required="required" type="text" />
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <h4><span class="glyphicon glyphicon-question-sign" data-content="{% trans %}note_form_title{% endtrans %}" data-toggle="popover" data-placement="right" rel="popover"></span></h4>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="content">{% trans %}content{% endtrans %}</label>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <textarea class="form-control" id="content" name="content" placeholder="{% trans %}content{% endtrans %}" required="required"></textarea>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <h4><span class="glyphicon glyphicon-question-sign" data-content="{% trans %}note_form_content{% endtrans %}" data-toggle="popover" data-placement="right" rel="popover"></span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="submit" title="{% trans %}save{% endtrans %}" type="submit"><span class="glyphicon glyphicon-ok"></span> {% trans %}save{% endtrans %}</button>
                        <button class="btn btn-info" data-dismiss="modal" title="{% trans %}close{% endtrans %}" type="button"><span class="glyphicon glyphicon-remove"></span> {% trans %}close{% endtrans %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts -%}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".show_more").click(function(e) {
                e.preventDefault();
                var reportId = $(this).data('report');
                $(".hidden_" + reportId).removeClass('hidden');
                $('#report_' + reportId + '_show_more_button').remove();
            });

            $(".new_note").click(function(e) {
                e.preventDefault();
                $('#note-save-modal').modal('show');
                var reportId = $(this).data('report');
                $('#report_id').val(reportId);
            });

            $("note_create_form").validate({
                rules: {
                    content: {
                        required: true
                    },
                    title: {
                        required: true
                    }
                },
                highlight: function(element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'help-block',
                errorPlacement: function(error, element) {
                    if(element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    if ($(form).valid()) {
                        form.submit();
                    }
                    else {
                      return false;
                    }
                }
            });

            $("#note_create_form").submit(function(e) {
                e.preventDefault();
                content = $('#content').val();
                report_id = $('#report_id').val();
                title = $('#title').val();

                $.post('{{ path('note_create') }}',
                    { eventhorizon_workwatcherbundle_note_type: { content: content, title: title }, report_id: report_id },
                    function(response) {
                        if (response.code == 200) {
                            $('#note-save-modal').modal('hide');
                            $('#content').val(null);
                            $('#report_id').val(null);
                            $('#title').val(null);
                            tmpLink = '<a class="btn btn-success" href="{{ path('note_edit', { 'id': '__noteId__' }) }}" title="{% trans %}edit{% endtrans %}"><span class="glyphicon glyphicon-edit"></span> {% trans %}edit{% endtrans %}</a>';
                            link = tmpLink.replace("__noteId__", response.noteId);
                            $('#report_' + report_id + '_note').html('<table class="table"><caption>{% trans %}note{% endtrans %}</caption><tbody><tr><th>{% trans %}title{% endtrans %}</th><td>' + title +'</td></tr><tr><th>{% trans %}content{% endtrans %}</th><td>' + content + '</td></tr></tbody></table>' + link);
                            $('#report_' + report_id + '_note_add_button').remove();
                        }
                    },
                    "json"
                );
            });
        });
    </script>
{% endblock %}
