{% extends 'EventHorizonThemeBundle::layout.html.twig' %}

{% block title %}
    - {% filter lower %}{% trans %}computer_list{% endtrans %} - {% trans %}live_view{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('computer_index') }}">{% trans %}computer_list{% endtrans %}</a></li>
    <li><a href="{{ path('report_show_live_view', { 'computerId': computer.id }) }}">{% trans %}live_view{% endtrans %}</a></li>
{% endblock %}

{% block content -%}
    <div class="panel panel-default">
        <div class="panel-body">
            <h4 style="display: inline;">{% trans %}live_view{% endtrans %}</h4> <span class="glyphicon glyphicon-question-sign" data-container="body" data-content="{% trans %}live_view_description{% endtrans %}" data-toggle="popover" data-placement="right" rel="popover"></span>
            <a class="btn btn-success pull-right" href="{{ path('computer_edit', { 'id': computer.id }) }}" style="margin-left: 5px;" title="{% trans %}edit{% endtrans %}"><span class="glyphicon glyphicon-edit"></span> {% trans %}edit{% endtrans %}</a>
            <a class="btn btn-info pull-right" href="{{ path('note_show_summary', { 'computerId': computer.id }) }}" style="margin-left: 5px;" title="{% trans %}note_show_summary{% endtrans %}"><span class="glyphicon glyphicon-list-alt"></span> {% trans %}notes_summary{% endtrans %}</a>
            <a class="btn btn-warning pull-right" href="{{ path('report_show', { 'computerId': computer.id }) }}" style="margin-left: 5px;" title="{% trans %}reports_show{% endtrans %}"><span class="glyphicon glyphicon-eye-open"></span> {% trans %}reports{% endtrans %}</a>
            <hr />

            <h5>{{ "live_view_for_computer"|trans({ '%computer%': computer.name, '%group%': computer.group.name }) }}</h5>

            <div class="clearfix"><br /></div>
            <img alt="Report image" class="img-responsive img-rounded" id="report-image" src="{{ path('report_show_live_view_file', { 'computerId': computer.id }) }}">
            <div class="clearfix"><br /></div>
        </div>
    </div>
{% endblock %}

{% block javascripts -%}
    <script type="text/javascript">
        $(document).ready(function() {
            setInterval(function() {
                var reportImageElement = document.getElementById('report-image');
                reportImageElement.src = '{{ path('report_show_live_view_file', { 'computerId': computer.id }) }}?rand=' + Math.random();
            }, 10000);
        });
    </script>
{% endblock %}
